.sm-text {
    font-size: 13px;
}

.transition-fade {
    -webkit-transition: .55s ease-in-out;
    transition: .55s ease-in-out;
    opacity: 1;
}

.ls-divider {
    background: #8c8c8e;
    width: 100%;
    height: 1px;
    opacity: .3;
}

.title-h {
    margin-top: 30px;
}

.p-30-15 {
    padding-top: 30px;
    padding-bottom: 15px;
}


.animated {
    animation: leaves 0.7s ease-out;
    animation-fill-mode: forwards;
}


@keyframes leaves {
    0% {
        transform: scale(0.98);
        -webkit-transform: scale(0.98);
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}