// Main Variables
$primaryColor : #fafafc;
$textColor: #8c8c8e;

$primaryBackground: #191923;
$secoundBackground: #20202a;
$thirdBackground: linear-gradient(159deg, RGBA(37, 37, 50, .98) 0%, RGBA(35, 35, 45, .98) 100%);

$buttonBackground: #ffc107;